.ag-header-cell-label {
    display: flex;              
    justify-content: center;     
    align-items: center;         
    text-align: center;          
    width: 100%;    
    color: #021d49;
    font-size: 18px;
    font-weight: 600;       
  }


  